

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-md-8">
        <div class="card text-bg-info ">
          <div class="card-header text-center ">
    <h1>Modifier la Tâche</h1>
          </div>
          <div class="card-body">
        <form method="post" class="form">
            {% csrf_token %}

            <div class="mb-3">
              <label for="{{ form.title.id_for_label }}" class="form-label">Titre</label>
              {{ form.title }}
            </div>

            <div class="mb-3">
              <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
              {{ form.description }}
            </div>
            <div class="mb-3">
              <label for="{{ form.due_date.id_for_label }}" class="form-label">Date d'échéance</label>
              {{ form.due_date }}
          </div>
          
            <div class="mb-3">
              <label for="{{ form.categories.id_for_label }}" class="form-label">Catégorie</label>
              {{ form.categories }}
          </div>
          <div class="mb-3">
            <label for="{{ form.tags.id_for_label }}" class="form-label">Tags</label>
            {{ form.tags }}
        </div>
        
        <div class=class="form-check form-switch mb-3">
              <label for="{{ form.completed.id_for_label }}" class="form-label" for="flexSwitchCheckDefault">Terminé</label>
              {{ form.completed }}
            </div>
            <!-- <div class="form-check form-switch mb-3">
                <input type="checkbox" class="form-check-input" role="switch" id="flexSwitchCheckDefault" name="completed">
                <label class="custom-control-label" for="customSwitch">Complété</label>
            </div> -->
                      
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>

          {% if form.errors %}
            <div class="alert alert-danger mt-3">
              <strong>Oops!</strong> Il y a des erreurs dans le formulaire. Veuillez corriger les erreurs ci-dessous :
              <ul>
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <li>{{ field|capfirst }}: {{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
