{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Liste des Tâches</h1>
    <table class="table table-info table-striped table-hover border">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Date de création</th>
                <th scope="col">Date de Fin</th>
                <th scope="col">État</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.completed_date }}</td>
                    <td>
                        {% if task.completed %}
                            <span class="badge rounded-pill text-bg-success">Terminée</span>
                        {% else %}
                            <span class="badge rounded-pill text-bg-danger">Non Terminée</span>
                        {% endif %}
                    </td>
                    <td>{{ task.created_by.username }}</td>
                    <td>
                        <a href="{% url 'task_update' task.id %}">
                            <i class="fas fa-pencil-alt text-primary"></i>
                        </a>
                        <a href="#" class="delete-task" data-task-id="{{ task.id }}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                        
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

    
{% endblock %}
